# https://github.com/pnpm/pnpm/issues/4920#issuecomment-1226724790
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@types*
public-hoist-pattern[]=tsconfig-seek
