# managed by skuba
# Gantry resource files support non-standard template syntax
/.gantry/**/*.yaml
/.gantry/**/*.yml
gantry*.yaml
gantry*.yml
pnpm-lock.yaml
# end managed by skuba

# IntelliJ project files
.idea

node_modules/
/src/**/*.js
/src/**/*.js.map
/__tests__/**/*.js
/__tests__/**/*.js.map
/test_coverage_dir
/dist/
/package/
